body {
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  padding: 15px;
  background: #111;
}

nav a {
  color: rgb(255, 255, 255);
  margin-right: 10px;
  text-decoration: none;
}

footer {
  padding: 20px;
  background: #8b8b8b;
  text-align: center;
}

/* ================================================================================================== */

.page {
  display: flex;
  justify-content: center;
  padding: 40px;
  background: #f4f6f8;
}

/* Card Container */
.card {
  width: 300px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  direction: ltr;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}

/* Image Section */
.card-image {
  background: #eef1f4;
  padding: 20px;
  text-align: center;
}

.card-image img {
  width: 100px;
}

/* Body */
.card-body {
  padding: 16px;
}

.card-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-text {
  font-size: 13px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Button */
.card-btn {
  width: 100%;
  padding: 10px;
  background: #2e7d32;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-btn:hover {
  background: #256628;
}

/* ================================================================================================== */

/* Grid Layout */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* ================================================================================================== */

.slide {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.slide1 {
  background: #ff5733;
}

.slide2 {
  background: #33c1ff;
}

.slide3 {
  background: #28a745;
}

/* ================================================================================================== */

html {
  scroll-behavior: smooth;
}

button {
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
