.productItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.productImage {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    object-fit: scale-down;
}

.productInfo {
    display: flex;
    flex-direction: column;
}

.productName {
    font-weight: bold;
    font-size: 16px;
}

.productPrice {
    color: green;
    font-size: 14px;
}